# macOS
.DS_Store

#vscode
.vscode/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Node / frontend / middleware
node_modules/
dist/
build/

# Local deployed contract address
frontend/js/contract-address.js