RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0x5fbdb2315678afecb367f032d93f642f64180aa3
RELAYER_PRIVATE_KEY=0x...

PORT=3000

# Facoltativo: solo se vuoi mantenere anche un controllo semplice tipo API key.
# La sicurezza vera però è la firma del dispositivo.
DEVICE_API_KEY=
ENABLE_SIGNATURE_PREFLIGHT=true