PORT=3000
RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0xINSERISCI_ADDRESS_CONTRATTO
RELAYER_PRIVATE_KEY=0xINSERISCI_PRIVATE_KEY_RELAYER
DEVICE_API_KEY=dev-secret-esp32-1
CONFIRMATIONS=1
MIDDLEWARE_URL=http://localhost:3000/api/measurements
DEVICE_PRIVATE_KEY=0xINSERISCI_PRIVATE_KEY_DEVICE
MEASUREMENT_VALUE=25