PORT=3000
RPC_URL=https://...
CONTRACT_ADDRESS=0xCONTRATTO_DEPLOYATO_SU_SEPOLIA

OWNER_PRIVATE_KEY=0x...
RELAYER_PRIVATE_KEY=0x...
DEVICE_PRIVATE_KEY=0x...

DEVICE_API_KEY=dev-secret-esp32-1
CONFIRMATIONS=1
MIDDLEWARE_URL=http://localhost:3000/api/measurements
MEASUREMENT_VALUE=25