PORT=3000
RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0xCONTRATTO_DEPLOYATO_SU_ANVIL
RELAYER_PRIVATE_KEY=0xPRIVATE_KEY_ANVIL_RELAYER
DEVICE_API_KEY=dev-secret-esp32-1
CONFIRMATIONS=1
MIDDLEWARE_URL=http://localhost:3000/api/measurements
DEVICE_PRIVATE_KEY=0xPRIVATE_KEY_DEVICE_ANVIL
MEASUREMENT_VALUE=25